*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --cor-primaria: #ff1313;
    --cor-texto: #000000;
}

h1{
    font-size: 55px;
}

body{
    margin: 20px;
    padding: 20px;
}

.rodape{
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    border: #000000 solid 1px;
    width: 1000px;
    box-shadow: 4px 5px 15px;
    padding: 20px;
    border-radius: 30px;
}

#conteudo{
    align-self: center;
    justify-self: center;
    border: #000000 solid 1px;
    width: 1000px;
    box-shadow: 4px 5px 15px;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
}

.cabecalho{
    
    justify-self: center;
    margin-bottom: 40px;
    box-shadow: 4px 5px 15px;
    padding: 20px;
    border-radius: 30px;
}

a{
    transition: all 0.3s ease-in-out;
}

a:hover{
    background-color: aliceblue;
}